/* Basic Css to make game text more appealing to read */
:root {
    text-align: center;
    background-color: green;

}

a {
    font-size: 30px;
}

h1,body,p {
    margin: 0;
}
h2{
    margin-bottom: .5rem;
}
h1,h2,p,a{
    color: antiquewhite;
}
p{
    padding: 5px;
}
p,p>a{
    font-size: 20px;
}
